## Assignment 01

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.<br> 
Ans:<br> 
 *(expressions)<br> 
 'hello'(value)<br> 
  -87.8 (value)<br> 
 -(expressions)<br> 
 / (expressions)<br> 
 +(expressions)<br> 
 6 (value)<br>

2. What is the difference between string and variable?<br> 

Ans: String is a specific datatype while variable can be of any data type like integer, float or also string can be stored in a variable which has datatype of string.

3. Describe three different data types.<br> 

Ans:<br> 
Integer: It is a data type which stores whole numbers or integers.
Float: It is a data type which stores decimal numbers.
Bool: It is a data type which has only two values, like True and False.

4. What is an expression made up of? What do all expressions do.<br> 
Ans:  An expression is a combination of variables, operators, values and calls to functions. Expressions provide some output, that is  if we write an expression in Python then the interpreter evaluates the expression and displays the result.
e.g

In [16]:
5*2-4

6

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?<br>

Ans: An expression is a combination of values, variables, and operators that can be evaluated to produce a result, such as 2+3.
A statement, on the other hand, is a code that performs an action, such as assigning a value to a variable (e.g., spam = 10) or calling a function.

6. After running the following code, what does the variable bacon contain?<br>

bacon = 22 <br>
bacon + 1  <br>

Ans: Since bacon value is set to 22 and is never changed thus bacon will contain 22.

7. What should the values of the following two terms be?<br>
'spam' + 'spamspam' <br>
'spam' * 3 <br>

Ans: First expression will be evaluated to 'spamspamspam', and we will be getting same result ('spamspamspam') for second expression too.

In [17]:
'spam'+'spamspam'

'spamspamspam'

In [18]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?<br>

Ans: It is required to have a variable name other than just numeric values in python rules. Since eggs contain letters thus is a valid variable name while 100 is totally numeric value and cannot be a variable name, if it would contain just one letter prior to 100 like i100 then it would be a valid variable name

In [19]:
100 = 200

SyntaxError: cannot assign to literal (1159011558.py, line 1)

In [20]:
i100 = 200
i100

200

9. What three functions can be used to get the integer, floating-point number, or string version of a value?<br>

Ans: int(),float() and str() functions will evaluate respectively integer,floating-point number and string version of the values.

10. Why does this expression cause an error? How can you fix it?<br>
'I have eaten ' + 99 + ' burritos.' <br>

In [21]:
# Taking a look to what error does it cause
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [22]:
# we are trying to concatenate strings with integers which is not possible or allowed
# to handle this error we can simply convert 99 into string

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [23]:
# or if it's a variable and can have different values then we can use str funciton which will convert any number 
#variable to string 
'I have eaten ' + str(99)+ ' burritos.'

'I have eaten 99 burritos.'